<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account | membersonly</title>
  <%- include("partials/styles") %>
</head>
<body>
  <%- include("partials/header", { user: account }) %>

  <main class="main">
    <h1 class="main__title">Account</h1>

    <div class="user__info">
      <span>Username:</span> <%= account.username %>
    </div>

    <div class="user__info">
      <span>Full Name:</span> <%= account.firstName %> <%= account.lastName %>
    </div>

    <div class="user__info">
      <span>Membership Status:</span> <%= account.isAdmin ? "Admin" : account.isMember ? "Member" : "Not Member" %>
    </div>

    <div class="user__info">
      <span>Date Joined:</span> <%= new Date(account.createdAt).toLocaleString() %>
    </div>

    <% if (!account.isMember) { %>
      <div class="acccount-not-member">
        You are not a member. Please upgrade to a member to unlock all features.
      </div>
    <% } %>
      <div class="form__actions">
        <% if (!account.isMember) { %>
          <a class="btn" href="/auth/upgrade">Upgrade</a>
        <% } %>

        <a class="btn btn--settings" href="/settings">Account Settings</a>
      </div>
    </div>


    <%- include("partials/messages", { showAuthor: false, className: "messages--user", user: account }) %>
  </main>
</body>
</html>