<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= typeof title !== 'undefined' ? title : 'Error' %> | membersonly
    </title>
    <%- include("partials/styles") %>
  </head>
  <body>
    <%- include("partials/header") %>

    <main class="main">
      <h1 class="main__title error__title">
        <%= typeof title !== 'undefined' ? title : 'Error' %>
      </h1>

      <div class="error__message">
        <p><%= message %></p>
      </div>

      <a class="btn btn--error" href="/">Go back to home</a>
    </main>
  </body>
</html>
