<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>membersonly</title>
    <%- include("partials/styles") %>
  </head>
  <body>
    <%- include("partials/header") %>

    <main class="main">
      <% if (success === "delete" || success === "upgrade" || success === "deleteMessage") { %>
        <% const action = success === "delete" || success === "deleteMessage" ? "deleted" : "upgraded"; %>
        <% const type = success === "deleteMessage" ? "Message" : "Account"; %>

        <div class="success">
          <div class="success__title">✅ <%= type %> <%= action %> successfully</div>
          <p class="success__message">Your <%= type.toLowerCase() %> has been <%= action %> successfully</p>
        </div>
      <% } %>

      <%- include("partials/messages", { showAuthor: true }) %>
    </main>
  </body>
</html>
