<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.username %> | membersonly</title>
  <%- include("partials/styles") %>
</head>
<body>
  <%- include("partials/header") %>

  <main class="main">
    <h1 class="main__title"><%= user.firstName %> <%= user.lastName %> (<%= user.username %>)</h1>

    <div class="user__info">
      <span>Membership Status:</span> <%= user.isAdmin ? "Admin" : user.isMember ? "Member" : "Not Member" %>
    </div>

    <div class="user__info">
      <span>Date Joined:</span> <%= new Date(user.createdAt).toLocaleString() %>
    </div>

    <%- include("partials/messages", { showMeta: false, className: "messages--user" }) %>
  </main>
</body>
</html>