<div class="messages <%= locals.className || '' %>">
  <% if (messages && messages.length > 0) { %>
    <% messages.forEach((message) => { %>
      <div class="message">
        <% if (showMeta) { %>
          <div class="message__meta">
            <img
              src="/assets/images/user.svg"
              alt="User profile picture"
              class="message__profile-pic"
            />
            <div class="message__meta-text">
              <% if (user?.isMember) { %>
                <a class="message__meta-text-author" href="/users/<%= message.userId %>">
                  <%= message.author %>
                </a>
              <% } else { %>
                <span class="message__meta-text-author text-muted">
                  <%= message.author %>
                </span>
              <% } %>
              <span class="message__meta-text-separator">&#183;</span>
              <span class="message__meta-text-date <%= user?.isMember ? '' : 'text-muted' %>">
                <%= user?.isMember ? new Date(message.createdAt).toLocaleString() : '*********' %>
              </span>
            </div>
          </div>
        <% } %>
        <div class="message__title"><%= message.title %></div>
        <div class="message__content"><%= message.content %></div>
      </div>
    <% }) %>
  <% } else { %>
    <p class="messages__empty">No messages available.</p>
  <% } %>
</div>